# Database
DB_URL=jdbc:postgresql://SEU_HOST_POSTGRES:5432/billing_service
DB_USERNAME=postgres
DB_PASSWORD=troque-esta-senha

# Internal API security
INTERNAL_API_KEY=troque-por-uma-chave-forte

# Mercado Pago
MERCADO_PAGO_BASE_URL=https://api.mercadopago.com
MERCADO_PAGO_ACCESS_TOKEN=TEST-seu-access-token
MERCADO_PAGO_PUBLIC_KEY=TEST-sua-public-key
MERCADO_PAGO_WEBHOOK_SECRET=troque-pelo-webhook-secret

# Public app URL used to generate Mercado Pago notification_url
APP_BASE_URL=https://seu-dominio.com

# App runtime
SERVER_PORT=8080
JAVA_OPTS=-XX:MaxRAMPercentage=75
